<div class="video-detail-page">
    <div class='video-detail'>
    <mat-card size="giant" class='artwork-detail-display'>
        <!-- <mat-card-header><h3>{{upload.title}}</h3> -->
    
        <!-- <div class="user">
    
            <nb-user [name]="Author.name"
            [picture] = "Author.profileImg"
            (click)= gotoMemberSpace(Author.id)
            *ngIf="memberID !==Author.id"></nb-user>
            <nb-user [name]="Author.name"
            [picture] = "Author.profileImg"
            (click)= gotoMyspace()
            *ngIf="memberID ===Author.id"></nb-user>
        </div> -->
    
        <!-- </mat-card-header> -->
    
        <mat-card-content >
        <!-- <div *ngIf="artwork.artworkdetail.artworktype === 'input-youtube'" >
    
            <iframe  width="100%" height="530px"  [src]="artwork.artworkdetail.url | ArtworkpipeComponent" frameborder="0" allowfullscreen="0"></iframe>
    
        </div>
        <div *ngIf="artwork.artworkdetail.artworktype === 'input-video'" >
            <video   class="video-js vjs-default-skin" loop  width="100%"  height= "100%" data-setup='{}' poster="{{newPictureDetail.poster}}" controls>
                <source src='{{artwork.artworkdetail.url}} ' type="video/mp4">
            </video>
        </div>
        <div *ngIf="artwork.artworkdetail.artworktype  === 'input-photo'"   >
            <img class="artwork-img" src='{{artwork.artworkdetail.url}}' id="{{artwork.id}}" >
        </div> -->
    
        </mat-card-content>
        <!-- <nb-card-footer>
    
            <button nbButton outline hero shape="round" size="small" status="basic" (click)=setfavorite()><nb-icon icon="{{star}}" status="warning"></nb-icon></button>
            <button nbButton outline hero shape="round" size="small" status="basic" (click)=setLike()><nb-icon icon={{like}} status="danger"></nb-icon><span>{{artwork.like.length}}</span></button>
        </nb-card-footer> -->
    </mat-card>
    
    
    <!-- </div>
    <app-comment [artwork]=artwork [memberID]=memberID [member]=member [commentsUser]=commentsUser [listServices]=listServices></app-comment>
    </div> -->
