.video-detail{
    width:78%;

}
.video-detail-page{
    width:100%;
    display:inline-flex;

}

mat-card {
    width: 50rem;
    height: 50rem;
}

.videoitem{
    //display: block;
    size: large;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }

.left_right {
    margin-left: 10rem;
    display: inline;
}