<!-- <div class="container"> -->
  <!-- <div class="block1"> -->
   <mat-grid-list cols = "2"> 
   <mat-grid-tile>    
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{upload.title}}</mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content>
        <div class="upload-image" *ngIf="upload.contentType == 'image'">
          <img [src]="upload.mediaPath" [alt]="upload.title">
        </div>
        <div class="videoitem" *ngIf="upload.contentType == 'video'">
          <video controls="controls" [src]="upload.mediaPath"></video>
        </div>
        <div class="videoitem" *ngIf="upload.contentType == 'link'">
          <iframe width=100% height=600px [src]="upload.mediaPath" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <!-- <iframe width="360" height="280" [src]="upload.mediaPath" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
      </mat-card-content>
      <mat-card-footer>
        <mat-card-content>{{upload.content}}</mat-card-content>
      </mat-card-footer>
    </mat-card>
   </mat-grid-tile>
  <!-- </div> -->
  <!-- <div class="block2"> -->
    <mat-grid-tile>
        <app-comment></app-comment>
    </mat-grid-tile>
  <!-- </div> -->
    <!-- </div> -->
</mat-grid-list> 