<mat-card>
    <mat-card-header>
        <mat-card-title>Comments</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <div>
        <mat-list></mat-list>
    </div>
    <mat-card-footer>
        <form #commentForm="ngForm">
            <div>
               <mat-form-field></mat-form-field>
                <button mat-raised-button type="submit">button</button>

                <mat-form-field>
                    <mat-label>Leave a comment</mat-label>
                    <input matInput type="text" ngModel #commentInput="ngModel">
                </mat-form-field>
                <button mat-raised-button color="warn" type="submit">send</button>
            </div>
        </form>
    </mat-card-footer>
</mat-card>