
<body>
    <!-- Caraousal area picture-->
    <header class="masthead text-center text-white">
        <div class="masthead-content">
            <div class="container">
                <h1 class="masthead-heading">All Progress Takes Place</h1>
                <br><br><br>
                <h2 class="masthead-subheading">Outside The Comfort Zone</h2>
                <button class="btn btn-primary btn-xl rounded-pill mt-5">Learn More below</button>
            </div>
        </div>
        <div class="bg-circle-1 bg-circle"></div>
        <div class="bg-circle-2 bg-circle"></div>
        <div class="bg-circle-3 bg-circle"></div>
        <div class="bg-circle-4 bg-circle"></div>
    </header>
    <!--Body section -->
    <!-- Video Section -->
    <section id="sectionStart">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5">
                        <img class="img-fluid rounded-circle" src="../../assets/img/LandingPage/01.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h1 class="display-4 tcenter">Your own workout video place</h1>
                        <p class="tcenter">Create your own personalized video library by uploading your own videos or links to your favorite videos</p>
                        <a href="#" class="btn btn-danger btn-xl rounded-pill mt-5" routerLinkActive="active" routerLink="/fitness/upload">Video Manager</a>
                        <a href="#" class="btn btn-primary btn-xl rounded-pill mt-5" routerLinkActive="active" routerLink="/fitness/video_library">Watch</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- Meal Section -->
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="p-5">
                        <img class="img-fluid rounded-circle" src="../../assets/img/LandingPage/02.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="p-5">
                        <h1 class="display-4 tcenter">Track Your Meals</h1>
                        <p class="tcenter">Take care of your body. It’s the only place you have to live.</p>
                        <a href="#" class="btn btn-danger btn-xl rounded-pill mt-5" routerLinkActive="active" routerLink="/create">Add meal</a>   
                        <!-- "routerLink =meal/add" -->
                        <a href="#" class="btn btn-primary btn-xl rounded-pill mt-5" routerLinkActive="active" routerLink="/list">Check Meals</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- BMI Section -->
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5">
                        <img class="img-fluid rounded-circle" src="../../assets/img/LandingPage/03.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h1 class="display-4 tcenter">Keep your BMI in check</h1>
                        <p class="tcenter">The Body Mass Index (BMI) Calculator can be used to calculate BMI value and corresponding weight status while taking age into consideration</p>
                        <a href="#" class="btn btn-primary btn-xl rounded-pill mt-5" routerLink="active" routerLink="/bmi">BMI Calculator</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>