<p>landing works!</p>
<div class="container">
    <mat-grid-list cols="3" rowHeight="2:1">
        <mat-grid-tile>
            <div class="item">
            <img src="../../assets/img/svg_icon/user.svg" alt="Profile">
            <span class="caption">
            <button mat-raised-button color="warn" class="btn-block" routerLink="/bmi">Profile</button>
        </span>
    </div>
        </mat-grid-tile>
        <mat-grid-tile>2</mat-grid-tile>
        <mat-grid-tile>3</mat-grid-tile>
    </mat-grid-list>
    <br>
    <mat-grid-list cols="3" rowHeight="8:3">
        <mat-grid-tile>1</mat-grid-tile>
        <mat-grid-tile>2</mat-grid-tile>
        <mat-grid-tile>3</mat-grid-tile>
    </mat-grid-list>
</div>