mat-form-field,
textarea{
    width: 100%;
}

mat-spinner {
    margin: auto;
  }

mat-card {
    margin: 100px;
}

.video{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
