<p>video-library works!</p>


<mat-card *ngFor="let upload of uploads">
    <mat-card-title>
        {{upload.title}}
    </mat-card-title>
      <div class="upload-image" *ngIf="upload.contentType == 'image'">
        <img [src]="upload.mediaPath" [alt]="upload.title">
      </div> -->
      <div class="video"  *ngIf="upload.contentType == 'video'">
        <video controls="controls" [src]="upload.mediaPath" width="250" height="180"></video>
      </div>
      <div class="video"  *ngIf="upload.contentType == 'link'">
        <a [href]="upload.mediaPath">Link to : {{upload.title}}</a>
      </div>
    <mat-card-content>{{ upload.content }}</mat-card-content>
    <p>{{ upload.userId}}</p>
</mat-card> 