mat-form-field,
textarea{
    width: 100%;
}

mat-spinner {
    margin: auto;
  }

mat-card {
    margin: 100px;
    height: 340px;
}

mat-card-image {

    width: 20px;
    height: 20px;
}

mat-expansion-panel{
    height: 290px;
    width : 700px;
    margin: auto;
}

.video{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
