.inputs {
    display: flex;
    flex: auto; 
  }
  
  .height, .weight {
    flex: auto;
    font-weight: bolder;
    font-size: larger;
  }
  
  .bmi {
    padding: 3px;
  }
  
  h2{
    text-align: center;
    color:#c6ff40;
    font-weight: bolder;
    font-size: xx-large;
  }

  p{
    color:#ff4081;
    font-size: large;
  }

  .height label{
    color:#ff4081;
  }

  .weight label{
    color:#ff4081;
  }

  .bmi{
     
      font-weight: bolder;
      padding-left: 30em;
      font-size: larger;
  }

  ul li{
    color:#ff4081;
    list-style-type:none;
  }

  li span{
    background-color:#c6ff40;
  }