.inputs {
    display: flex;
    flex: auto; 
  }
  
  .height, .weight {
    flex: auto;
  }
  
  .bmi {
    padding: 3px;
  }
  
  h2{
    text-align: center;
   color:#FFF7FA;
  }

  p{
    color:#ff4081;
  }

  .height label{
    color:#ff4081;
  }

  .weight label{
    color:#ff4081;
  }

  .bmi{
      color:#00FF00;
  }